<div class="container-fluid" style="color:white;background-color: black;">
    <div class="instructions-for-both">

        <h5>
            COMMON INSTRUCTIONS FOR BOTH FARMERS AND CONSUMERS
        </h5>
        <P>
            This web application is developed to reduce the intermediate parties between farmers and consumers.  
            <br> Through this application both farmer and consumer can benefit and get profit. <br>
            Profit margin and food expensive will me equal for farmers and consumers. <br>
         </P>
         <h5>INSTRUCTIONS FOR  FARMERS</h5>
         <p>
            A farmer after registered the web application there can able to upload there products for been in sale. <br> 
            There get request to get rental for there land from the consumers for farming the things consumer needed. <br>
            farmers can able to create a bid for the tones of goods which there are harvesting. <br>
            According to this application and these processes farmers can able to see a huge profit and also there can sustain from the proverty.
         </p>
         <h5>INSTRUCTIONS FOR  FARMERS</h5>
         <p>
            A consumer after registered the web application there can able to buy the products which are posted by the farmers, without any dealers, shops or using any other online applications to buy food products. <br>
            The consumer can able to buy a large quantity of goods without any mideators, by using the bidding option. <br>
            If the consumer wants to farm a organic products but there doesn't have any lands, no problem here the solution for it, which consumers can take the farmers land for rental and there say farmers to farm the thing which he needs in organic way.
         </p>
</div>
</div>