<div class="container-fluid">
    <div class="row" id="r1">
        <div class="col-sm-8">
            <h4>
                HOW DO WE WORK?
            </h4>
            <P>
                This website is created to make the farmers profit and consumers satisfaction and trust.
            So that we have imported services like:<br> <br>
             <b> *selling vegetables and fruits directly to consumers. <br>
            *Consumers can pre-book the lands to farm the foods there need in the organic or inorganic method. <br>
            *The major profit way for both farmers and consumers is bidding on the tones of foods in the application. <br> </b>
            </P>
         </div>
         <div class="col-sm-4">
            <img src="/assets/howwork.avif" alt="img">
         </div>
    </div>

    <div class="row" id="r2">
        <div class="col-sm-4">
            <img src="/assets/ywork.jpg" alt="img" id="img2">
         </div>
         <div class="col-sm-8">
            <h4>
                WHY DO WE WORK?
            </h4>
            <P>
                Farmers get more profit, it can have several positive effects on the agricultural sector, the economy, and society as a whole. Here are a few examples: <br>
            
            <b> Increased investment in farming</b> <br>
            <b> Improved livelihoods</b> <br>
            <b> Boost to the economy</b> <br>
            <b>Food security</b> <br>
        </P>
         </div>
    </div>

    <div class="row" id="r1">
        <div class="col-sm-8">
            <h4>
                USES FOR FARMERS
            </h4>
            <P>
                This app allows farmers to sell their goods directly to the consumers without  interference of the dealers, 
                 hence farmers can gain more profit . This app allows farmers to choose value for their goods through bidding process, which increases farmers profit on their goods more than selling in market. Farmers can rent their land to consumers and through this if the crops face any natural disasters the loss will be divided among both farmer and the tenant who rented it. 

            </P>
         </div>
         <div class="col-sm-4">
           
           
            <img src="/assets/usefarm.jpg" alt="img" id="img3">

         </div>
    </div>

    <div class="row" id="r2">
        <div class="col-sm-4">
            <img src="/assets/useofcon.png" alt="img" id="img3">
          </div>
         <div class="col-sm-8">
           <h4>
                USES FOR CONSUMERS
            </h4>
            <P>
                This app allows consumers to buy products directly from the farmers. So the consumers can buy products at a reasonable price and benefit from it. Consumers will not have any confusion regarding the product whether it is organic or not as they purchase directly from farmers. Consumers can rent farmers land and deceide which crop to grow in that piece of land, however the work will be done by the farmers but profit will be shared among both.
            </P>
         </div>
    </div>
</div>