.box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    height: 550px;
        box-sizing: border-box;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 30px;
        border: 2px solid #333333;
        border-radius: 10px;
        text-align: center;
      }
      
     h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #333333;
  }
  

button {
    background-color: #4CAF50;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  button:hover {
    background-color: #3e8e41;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  button:active {
    background-color: #2f6238;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
  }


  /* register */
  .register-box {
    
    border: 2px solid black;
    padding: 20px;
    width: 400px;
    margin: auto;
  }
  
  .register-box h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }

/* login */
  #container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  #h1 {
    font-size: 36px;
    margin-bottom: 40px;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
 
  
  @keyframes example {
    0%   {left: 0;}
    25%  {left: 10px;}
    50%  {left: -10px;}
    75%  {left: 10px;}
    100% {left: 0;}
  }
  
  .login_input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #login_btn {
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  #login_btn:hover {
    background-color: #3e8e41;
    transform: translateY(-5px);
  }
  
  #login_btn:active {
    transform: translateY(0px);
  }
  
  
  #fix{
    
    position: sticky;
    top: 160px;
    background-color: white;
  }
  