/* .c{height: 100px;background-color: black;}

*{
    width: 100%;
    background-color: black;
}
h4{
    text-align: center;
}
.card-body{
    width: 35%;
    color: white;
}
#form{
    top: 0;
    float: right;
}
#fill{
    margin-top: 8%;
}
#btn{
    background-color: lightgreen;
}
#food{
    color: white;
}
@media screen and (max-width: 762px){
    .card-body{
     width: 400px;
    }
 } */

 /* .c{height: 100px;background-color: black;}

*{
    width: 100%;
    background-color: black;
}
h4{
    text-align: center;
}

.card-body{
    width: 35%;
    margin-left: 33%;
    color: white;
}

#form{
    top: 0;
    float: right;
}
#fill{
    margin-top: 8%;
}
#btn{
    background-color: lightgreen;
}
#food{
    color: white;
}
@media screen and (max-width: 762px){
    .card-body{
     width: 400px;
    }
    
 } */

 .container-fluid{
    
    background-color: black;
 }

 label{
    margin-bottom: 10px;
    color: white;
    background-color: black;
}

input{
    border: 2px solid white;
    color: white;
    background-color: black;
}
#addbutton{
    margin-top: 15px;
}

#row1{
    background-color: black;
    color: white;
    height: 10vh;
}

.btn_logout{
    color: white;
    background-color: rgb(86, 65, 65);
    width: 10vw;
    height: 7vh;
    margin-top: 1vh;
}

.btn_logout:hover{
    color: black;
    background-color: rgb(215, 184, 184);
    
}

#col1{
    border-left: 2px solid black;
    background-color: black;
}

/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .card{
    background-color: black;
  }